/*
navbar-default personalizada en:
http://work.smarchal.com/twbscolor/

*/
.navbar-default {
    background-color: darkslategray;
    border-color: grey;
}

.navbar-default .navbar-brand {
    color: #ecf0f1;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ecdbff;
}

.navbar-default .navbar-text {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
    color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ecdbff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #ecdbff;
    background-color: grey;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #ecdbff;
    background-color: grey;
}

.navbar-default .navbar-toggle {
    border-color: grey;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: grey;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}

.navbar-default .navbar-link {
    color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #ecdbff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
        color: #ecdbff;
        background-color: grey;
    }
}

button.btn.btn-info {
    background-color: rgb(99, 216, 99);
    color: black;
    font-weight: bold;
}

a.btn.btn-danger,
a.btn.btn-default,
a.btn.btn-success,
button.btn-success {
    color: black;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a.btn-logout:hover {
    background-color: rgb(172, 41, 37);
}


.panel-info>.panel-heading-custom {
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
}

.ui-widget-content .ui-icon {
    background-image: url("../../images/ui-icons_444444_256x240.png") !important;
}

.ui-widget-header .ui-icon {
    background-image: url("../../images/ui-icons_444444_256x240.png") !important;
}